.toggleView {
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.emphasis {
  font-size: 24px;
  display: inline;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@mixin centerer {
  position: absolute;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$gray: #ececec;
$first: #8E253D;
$second: #B34A62;
$third: #DB8297;

body {
  font-size: 16px;
  background: #fafafa;
  font-family: "Roboto";
}

.number-holder {
  transition: all 500ms ease-in-out;
}

.scoreboard {
  border-radius: 5px;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 3rem 50px;
  flex-direction: column;
  background: #fff;
  &__item {
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
    //margin-top: 2rem;
    flex-wrap: wrap;
    opacity: 0;
    top: 20px;
    transition: 500ms ease-in-out;
    &.is-visible {
      opacity: 1;
      top: 0;
      transition: 500ms ease-in-out;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);  
      cursor: pointer;
    }
  }
  &__title {
    width: 300px;
    font-weight: 600;
    small {
      color: #333;
    }
  }
  &__status {
    font-weight: 300;
  }
  &__numbers {
    font-weight: 600;
    text-align: right;
    align-self: flex-end;
    margin-left: 20px;
    flex: 1;
  }
  &__update {
    
  }
}

.scoreboard__bar {
  width: 100%;
  margin-top: 1rem;
  background: $gray;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-basis: 100%;
  &:before {
    content: "";
    width: 100%;
    flex-basis: 100%;
    clear: both;
    display: block;
  }
  &-bar {
    position: absolute;
    height: 10px;
    left: 0;
    top: 0;
    width: 0;
    border-radius: 5px;
    background: linear-gradient(to right, $second 0%, darken($second,10%) 100%);
    transition: all 250ms ease-in-out;
  }
}

.scoreboard__podiums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto 50px auto;
  min-height: 350px;
  .scoreboard__podiumContainer {
    display: flex;
  }
  .scoreboard__podium {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    flex: 1;
    opacity: 0;
    top: -10px;
    cursor: pointer;
    &.is-visible {
      top: 0;
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
    
    &-rank {
      font-size: 4rem;
      font-weight: 700;
      @include centerer();
      bottom: 0px;
    }
    &-base {
      height: 0;
      background: $gray;
      color: #fff;
      min-width: 150px;
      border-radius: 5px;
      transition: all 1000ms ease-in-out;
      opacity: 0;
      position: relative;
      &.is-expanding {
        opacity: 1;
      }
      &--first {
        background: linear-gradient(to bottom, $first 0%, darken($first,10%) 100%);
        
      }
      &--second {
        background-color: $second;
        background: linear-gradient(to bottom, $second 0%, darken($second,10%) 100%);
        
      }
      
      &--third {
         background-color: $third;
        background: linear-gradient(to bottom, $third 0%, darken($third,10%) 100%);
      }
      
    }
    &-number {
      text-align :center;
      font-size: 1.5rem;
      margin-top: 10px;
      
      small {
        display: block;
        font-size: 60%;
        color: #333;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}
.credits {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}

#scoreboard__items {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: decimal;
  height: 410px;
  overflow-y: scroll;
  overflow-x: hidden;
  right: -17px;
}
::-webkit-scrollbar { 
    display: none; 
}
// .scoreboard__items__container {
//   overflow: auto;
// }

.oneup-audio {
  display: none;
}

.style-switch {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  font-size: 15px;
}

body.dark-mode {
  background: #111;
  color: #fff;
  .scoreboard {
    background: #111;
    color: #fff;
    small {
      color: #eee !important;
    }
  }
  .scoreboard__bar {
    background: #333;
  }
}

.searchContainer {
  padding-left: 30%;
  opacity: 0;
  &.is-visible {
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
}
.searchBar {
  width: 300px;
  margin-right: 25px;
}

.bump {
 animation: bump 500ms ease-in-out; 
}

@keyframes bump {
  0% {
    
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
}

// **************************************************************


// @import "bourbon";

// Main Colors
$accent: null;
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

// Pen Settings
$primary: #363636;
$accent: #ed2553;
$max-width: 460px;

// Mixins
$level: 1;

@mixin materialShadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}


/* Container */
.container {
  position: relative;
  &.active {
    .card {
      &:first-child {
        background: darken($white, 5%);
        margin: 0 15px;
      }

      &:nth-child(2) {
        background: darken($white, 2%);
        margin: 0 10px;
      }

      &.alt {
        top: 20px;
        right: 0;
        width: 100%;
        min-width: 100%;
        height: auto;
        border-radius: 5px;
        padding: 60px 0 40px;
        overflow: hidden;

        .toggle {
          position: absolute;
          top: 40px;
          right: -70px;
          box-shadow: none;
          transform: scale(10);
          transition: transform .3s ease;

          &:before {
            content: '';
          }
        }

        .title,
        .input-container,
        .button-container {
          left: 0;
          opacity: 1;
          visibility: visible;
          transition: .3s ease;
        }

        .title {
          transition-delay: .3s;
        }

        .input-container {
          transition-delay: .4s;

          &:nth-child(2) {
            transition-delay: .5s;
          }

          &:nth-child(3) {
            transition-delay: .6s;
          }
        }

        .button-container {
          transition-delay: .7s;
        }
      }
    }
  }
}

/* Card */
.card {
  position: relative;
  background: $white;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  @include materialShadow(1);
  transition: .3s ease;

  &:first-child {
    background: darken($white, 2%);
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
  }

  /* Title */
  .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid $accent;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: $accent;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }

  /* Inputs */
  .input-container {
    position: relative;
    margin: 0 60px 50px;

    input {
      outline: none;
      z-index: 1;
      position: relative;
      background: none;
      width: 100%;
      height: 60px;
      border: 0;
      color: #212121;
      font-size: 24px;
      font-weight: 400;

      &:focus {
        ~ label {
          color: #9d9d9d;
          transform: translate(-12%, -50%) scale(0.75);
        }

        ~ .bar {
          &:before,
          &:after {
            width: 50%;
          }
        }
      }

      &:valid {
        ~ label {
          color: #9d9d9d;
          transform: translate(-12%, -50%) scale(0.75);
        }
      }
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      color: #757575;
      font-size: 24px;
      font-weight: 300;
      line-height: 60px;
      transition: 0.2s ease;
    }

    .bar {
      position: absolute;
      left: 0;
      bottom: 0;
      background: #757575;
      width: 100%;
      height: 1px;

      &:before,
      &:after {
        content: '';
        position: absolute;
        background: $accent;
        width: 0;
        height: 2px;
        transition: .2s ease;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }
  }

  /* Button */
  .button-container {
    margin: 0 60px;
    text-align: center;

    button {
      outline: 0;
      cursor: pointer;
      position: relative;
      display: inline-block;
      background: 0;
      width: 240px;
      border: 2px solid #e3e3e3;
      padding: 20px 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      overflow: hidden;
      transition: .3s ease;

      span {
        position: relative;
        z-index: 1;
        color: #ddd;
        transition: .3s ease;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background: $accent;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        transition: .3s ease;
      }

      &:hover,
      &:active,
      &:focus {
        border-color: $accent;

        span {
          color: $accent;
        }
      }

      &:active,
      &:focus {
        span {
          color: $white;
        }

        &:before {
          opacity: 1;
          transform: scale(10);
        }
      }
    }
  }

  /* Footer */
  .footer {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

    a {
      color: inherit;
      text-decoration: none;
      transition: .3s ease;

      &:hover {
        color: darken(#d3d3d3, 10%);
      }
    }
  }

  /* Alt Card */
  &.alt {
    position: absolute;
    top: 40px;
    right: -70px;
    z-index: 10;
    width: 140px;
    height: 140px;
    background: none;
    border-radius: 100%;
    box-shadow: none;
    padding: 0;
    transition: .3s ease;

    /* Toggle */
    .toggle {
      position: relative;
      background: $accent;
      width: 140px;
      height: 140px;
      border-radius: 100%;
      @include materialShadow(1);
      color: $white;
      font-size: 58px;
      line-height: 140px;
      text-align: center;
      cursor: pointer;

      &:before {
        content: '\f040';
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
      }
    }

    .title,
    .input-container,
    .button-container {
      left: 100px;
      opacity: 0;
      visibility: hidden;
    }

    /* Title */
    .title {
      position: relative;
      border-color: $white;
      color: $white;

      .close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 60px;
        display: inline;
        color: $white;
        font-size: 58px;
        font-weight: 400;

        &:before {
          content: '\00d7';
        }
      }
    }

    /* Input */
    .input-container {
      input {
        color: $white;

        &:focus {
          ~ label {
            color: $white;
          }

          ~ .bar {
            &:before,
            &:after {
              background: $white;
            }
          }
        }

        &:valid {
          ~ label {
            color: $white;
          }
        }
      }

      label {
        color: rgba($white, 0.8);
      }

      .bar {
        background: rgba($white, 0.8);
      }
    }

    /* Button */
    .button-container {
      button {
        width: 100%;
        background: $white;
        border-color: $white;

        span {
          color: $accent;
        }

        &:hover {
          background: rgba($white, 0.9);
        }

        &:active,
        &:focus {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// /* Keyframes */
// @include keyframes(buttonFadeInUp) {
//   0% {
//     bottom: 30px;
//     opacity: 0;
//   }
// }