<div class="container">
  <div class="row" *ngFor="let point of points">
    <div class="card card-block">
      <h4 class="card-title">{{point.FIRST_NAME}} {{point.LAST_NAME}}</h4>
      <p class="card-text">{{point.FY_PTS}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <th>Member</th>
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>FY</th>
      </tr>
      <tr *ngFor="let point of points">
        <td>{{point.FIRST_NAME}} {{point.LAST_NAME}}</td>
        <td>{{point.Q1_PTS}}</td>
        <td>{{point.Q2_PTS}}</td>
        <td>{{point.Q3_PTS}}</td>
        <td>{{point.Q4_PTS}}</td>
        <td>{{point.FY_PTS}}</td>
      </tr>
    </table>
  </div>
  <div>
    <button (click)="horizon = !horizon">{{horizon ? 'Annual' : 'Quarterly'}} View</button> horizon = {{horizon}}
    <br>
    <div *ngIf="horizon; else annualBlock">
      <table>
        <tr>
          <th>Member</th>
          <th>Q3</th>
        </tr>
        <tr *ngFor="let point of points">
          <td>{{point.FIRST_NAME}} {{point.LAST_NAME}}</td>
          <td>{{point.Q3_PTS}}</td>
        </tr>
      </table>
    </div>
    <template #annualBlock>HOLD MY D</template>
  </div>
</div>