.toggleView {
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

.emphasis {
  font-size: 24px;
  display: inline;
}