.toggleView {
  font-size: 14px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
  position: absolute;
  top:100px;
  right: 0px;
}

.emphasis {
  font-size: 24px;
  display: inline;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@mixin centerer {
  position: absolute;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Main Colors
$accent: null;
$white: #ffffff;
$black: #000000;
$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

// Pen Settings
$primary: #828282;
$accent: #8E253D;
$max-width: 460px;

$gray: #ececec;
$first: #8E253D;
$second: #B34A62;
$third: #DB8297;

$ALTfirst: #D34E24;
$ALTsecond: #F28123;
$ALTthird: #EA8C55;

body {
  font-size: 16px;
  background: #fafafa;
  font-family: "Roboto";
}

.card {
  background: #fff;
}

.number-holder {
  transition: all 500ms ease-in-out;
}

.scoreboard {
  border-radius: 5px;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 3rem 50px;
  flex-direction: column;
  &__item {
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
    //margin-top: 2rem;
    flex-wrap: wrap;
    opacity: 0;
    top: 20px;
    transition: 500ms ease-in-out;
    &.is-visible {
      opacity: 1;
      top: 0;
      transition: 500ms ease-in-out;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);  
      cursor: pointer;
    }
  }
  &__title {
    width: 300px;
    font-weight: 600;
    small {
      color: #333;
    }
  }
  &__status {
    font-weight: 300;
  }
  &__numbers {
    font-weight: 600;
    text-align: right;
    align-self: flex-end;
    margin-left: 20px;
    flex: 1;
  }
  &__update {
    
  }
}

.scoreboard__bar {
  width: 100%;
  margin-top: 1rem;
  background: $gray;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-basis: 100%;
  &:before {
    content: "";
    width: 100%;
    flex-basis: 100%;
    clear: both;
    display: block;
  }
  &-bar {
    position: absolute;
    height: 10px;
    left: 0;
    top: 0;
    width: 0;
    border-radius: 5px;
    background: linear-gradient(to right, $second 0%, darken($second,10%) 100%);
    transition: all 250ms ease-in-out;
  }
}

.alt__scoreboard__bar {
  width: 100%;
  margin-top: 1rem;
  background: $gray;
  height: 10px;
  position: relative;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
  display: flex;
  flex-basis: 100%;
  &:before {
    content: "";
    width: 100%;
    flex-basis: 100%;
    clear: both;
    display: block;
  }
  &-bar {
    position: absolute;
    height: 10px;
    left: 0;
    top: 0;
    width: 0;
    border-radius: 5px;
    background: linear-gradient(to right, $ALTsecond 0%, darken($ALTsecond,10%) 100%);
    transition: all 250ms ease-in-out;
  }
}

.scoreboard__podiums {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto 50px auto;
  min-height: 350px;
  .scoreboard__podiumContainer {
    display: flex;
  }
  .scoreboard__podium {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    flex: 1;
    opacity: 0;
    top: -10px;
    cursor: pointer;
    &.is-visible {
      top: 0;
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
    
    &-rank {
      font-size: 4rem;
      font-weight: 700;
      @include centerer();
      bottom: 0px;
    }
    &-base {
      height: 0;
      background: $gray;
      color: #fff;
      min-width: 150px;
      border-radius: 5px;
      transition: all 1000ms ease-in-out;
      opacity: 0;
      position: relative;
      &.is-expanding {
        opacity: 1;
      }
      &--first {
        background: linear-gradient(to bottom, $first 0%, darken($first,10%) 100%);
        
      }
      &--second {
        background-color: $second;
        background: linear-gradient(to bottom, $second 0%, darken($second,10%) 100%);
        
      }
      
      &--third {
         background-color: $third;
        background: linear-gradient(to bottom, $third 0%, darken($third,10%) 100%);
      }
      
    }
    &-number {
      text-align :center;
      font-size: 1.5rem;
      margin-top: 10px;
      
      small {
        display: block;
        font-size: 60%;
        color: #333;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}

.alt__scoreboard__podiums {
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto 50px auto;
  min-height: 350px;
  .scoreboard__podiumContainer {
    display: flex;
  }
  .scoreboard__podium {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-wrap: wrap;
    flex: 1;
    opacity: 0;
    top: -10px;
    cursor: pointer;
    &.is-visible {
      top: 0;
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
    
    &-rank {
      font-size: 4rem;
      font-weight: 700;
      @include centerer();
      bottom: 0px;
    }
    &-base {
      height: 0;
      background: $gray;
      color: #fff;
      min-width: 150px;
      border-radius: 5px;
      transition: all 1000ms ease-in-out;
      opacity: 0;
      position: relative;
      &.is-expanding {
        opacity: 1;
      }
      &--first {
        background: linear-gradient(to bottom, $ALTfirst 0%, darken($ALTfirst,10%) 100%);
        
      }
      &--second {
        background-color: $ALTsecond;
        background: linear-gradient(to bottom, $ALTsecond 0%, darken($ALTsecond,10%) 100%);
        
      }
      
      &--third {
         background-color: $ALTthird;
        background: linear-gradient(to bottom, $ALTthird 0%, darken($ALTthird,10%) 100%);
      }
      
    }
    &-number {
      text-align :center;
      font-size: 1.5rem;
      margin-top: 10px;
      
      small {
        display: block;
        font-size: 60%;
        color: #333;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}

#scoreboard__items {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: decimal;
  height: 410px;
  overflow-y: scroll;
  overflow-x: hidden;
  right: -17px;
}
::-webkit-scrollbar { 
    display: none; 
}

.searchContainer {
  padding-left: 30%;
  opacity: 0;
  &.is-visible {
      opacity: 1;
      transition: all 500ms ease-in-out;
    }
}
.searchBar {
  width: 300px;
  margin-right: 25px;
}

#searchButton {
  background-color: #fafafa;
  top: 1.3rem;
}

.toggleLabel {
  position: absolute;
  right: inherit;
  margin-right: 50px;
}

.toggleSlide {
  right: inherit;
  position: absolute;
  top: 5px;
}
