<div class="container">
  <div class="card"></div>
  <div class="card">
    <h2 class="title">Admin Login</h2>
    <form>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="#{type}" id="#{label}" required="required" />
        <label for="#{label}">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button (click)="login()"><span>Go</span></button>
      </div>
    </form>
  </div>
</div>

