.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

md-toolbar-row {
    border-bottom: thick dotted;
    font-size: 17px;
}

.navBar {
    border-top: solid;
}