<md-sidenav-container>

<md-sidenav #sidenav class="docs-component-viewer-sidenav mat-sidenav mat-sidenav-side mat-sidenav-opened" tabindex="-1">
    <!----><nav>
      <h3>Navigation</h3>
      <ul>
        <!----><li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="/leaderboard" (click)="sidenav.toggle()">
            Leaderboard
          </a>
        </li><li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="/fullList" (click)="sidenav.toggle()">
            Full List
          </a>
        </li><li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="/" (click)="sidenav.toggle()">
            Admin
          </a>
        </li>
      </ul>
      </nav>
  
</md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> {{title}}

  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>