<div class="wrapper">
  <md-toolbar color="primary">
    <div style="color: white">{{title}}</div>
    <span class="example-spacer"></span>
    <span>
    <div><a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>     |     
    <a routerLink="/fullList" routerLinkActive="active">Full List</a>     |
    <a routerLink="/admin" routerLinkActive="active">Admin</a>     |
    <a routerLink="/login" *ngIf="!authService.isLoggedIn" routerLinkActive>Log in</a>  
    <a routerLink="/" *ngIf="authService.isLoggedIn" routerLinkActive (click)="logout()">Log Out</a>  
    </div>
  </span>
  </md-toolbar>
  <router-outlet></router-outlet>
</div>