<div *ngIf="employeeInfo">
  <div *ngIf="employeeInfo.activities; else emptyInfo">
    <p>The employee selected is: {{employeeInfo.first_name}} {{employeeInfo.last_name}}</p>
    <table>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Points</th>
      </tr>
      <tr *ngFor="let activity of employeeInfo.activities">
        <td>{{activity.activity_name}}</td>
        <td>{{activity.ent_dt}}</td>
        <td>{{activity.point_value}}</td>
      </tr>
    </table>
  </div>
  <ng-template #emptyInfo>
    <p>The employee selected is: {{employeeInfo.first_name}} {{employeeInfo.last_name}}</p>
    <p>Unfortunately, they don't currently have any points.</p>
  </ng-template>
</div>
<button (click)="goBack()">Back</button>