<div *ngIf="employeeInfo" style="width:100%">
  <div style="text-align:center"><div class="avatar"></div><div>
    {{employeeInfo.total_points}}</div></div>
  <div *ngIf="employeeInfo.activities; else emptyInfo">
    <h1>{{employeeInfo.first_name}} {{employeeInfo.last_name}}</h1>
    <md-card>
      <div class="table-responsive-vertical">
        <table class="table table-hover table-striped table-mc-deep-purple">
          <tr>
            <th>Event</th>
            <th>Date</th>
            <th>Points</th>
          </tr>
          <tr *ngFor="let activity of employeeInfo.activities">
            <td>{{activity.activity_name}}</td>
            <td>{{activity.ent_dt}}</td>
            <td>{{activity.point_value}}</td>
          </tr>
        </table>
      </div>
    </md-card>
  </div>
  <ng-template #emptyInfo>
    <h1>{{employeeInfo.first_name}} {{employeeInfo.last_name}}</h1>
    <p>Unfortunately, no points are available for this user.</p>
  </ng-template>
</div>
<button md-raised-button (click)="goBack()">Back</button>